<% provide(:title, @user.user_name) %>
<div class="container"> 
<div class="user-show-wrapper">
  <div class="user-logo">
      <h1>
        <%= gravatar_for @user %>
      </h1>
      <div class="follow-content">
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if logged_in? %>
      </div>
  </div>

  <div class="user-info">
    <h1>
      <%= @user.user_name %>
    </h1>
    <div><%= @user.website %></div>
    <div class="introduction"><%= @user.introduction %></div>
  </div>
  </div>

  <div class="user-microposts">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>