<div>
  <h3>Microposts</h3>
  <ol class="microposts">
    <%= render @micropost %>
    <% if current_user?(@micropost.user) %>
    <%= link_to "delete", @micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </ol>
  
  <% if !current_user?(@micropost.user) %>
  <div id="like-btn-<%= @micropost.id %>">
   <%= render 'likes/like', post: @micropost %>
  </div>
  <% end %>

  <%= form_with(model: [@micropost, @comment], method: :post) do |f| %>
    <%= f.text_field :content %>
    <% f.hidden_field :micropost_id, value: @micropost.id %>
    <%= f.submit 'comment' %>
  <% end %>

  

  <% @comments.each do |comment| %>
    <%= comment.content %>
  <% end %>
</div>